name: Pre-Commit

on: ["push", "pull_request"]

jobs:
  Pre-Commit:
    name: Run Pre-Commit

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-actionlint
        with:
          cache-seed: ${{ hashFiles('.github/**', 'tools/**') }}
      - uses: ./.github/actions/setup-shellcheck
        with:
          cache-seed: ${{ hashFiles('.github/**', 'tools/**') }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Pre-Commit
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit install --install-hooks

      - name: Check ALL Files
        run: |
          pre-commit run --show-diff-on-failure --color=always --all-files
